@import url('https://rsms.me/inter/inter.css');

:root {
    --text-primary: #000;
    --bgPrimary: #fff;
    --bgSecondary: #F9F9F9;
    --pink: #ffe6fc99;
    --light-blue: #e6f7ff;
    --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    color: var(--pink) !important;
}

.app {
    display: flex;
    overflow: hidden;
}

.navbar {
    flex: 0.2;
    background-color: #27187e;
    width: 100%;
}

.navDiv {
    /* flex: 0.2; */
    position: relative;
    background-color: #febbf75d;
    /* filter: drop-shadow(4px 8px 2px #4444dd52); */
    border-radius: 40px;
    padding: 10px;
    width: 100%;
    height: 60px;

}

.navLogo {
    /* flex: 0.2; */
    /* background-color: var(--pink) !important; */
    /* filter: drop-shadow(4px 8px 2px #4444dd52); */
    border-radius: 40px;
    padding: 10px;
    width: 100px;

}

.placeholder {
    /* flex: 0.2; */
    /* background-color: var(--pink) !important; */
    /* filter: drop-shadow(4px 8px 4px #4444dd52); */
    border-radius: 40px;
    /* padding: 0px; */
    width: 100%;
    /* height: 80vh; */

}

.img-container {
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    /* text-align: center; */
}

.img-container .centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    width: 100px;
}

.siteTitleDiv {
    padding-left: 100px
    rgba(206, 250, 255, 0.575)
}

.siteTitle {
    background: linear-gradient(-45deg, #AEC8FC, #AEC8FC, #FFB4C6, #FFB4C6);
    background-size: 300%;
    margin-left: 100px;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size:xx-large;
    letter-spacing: 0px;
    /* text-transform: uppercase; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
    /* filter: drop-shadow(2px 4px 4px #ffffff60); */
}
.siteText {
    background: linear-gradient(-45deg, #d1d1ef, #9198ac, #e9c8d4, #9c8489);
    background-size: 300%;
    margin-left: 100px;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size:x-large;
    letter-spacing: 0px;
    /* text-transform: uppercase; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 4s ease-in-out infinite;
    -moz-animation: animated_text 4s ease-in-out infinite;
    -webkit-animation: animated_text 4s ease-in-out infinite;
    /* filter: drop-shadow(2px 4px 4px #ffffff60); */
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}

.platoImage{
    border-bottom-right-radius: 25%;
    opacity:0.6;
}

.PTMDiv {
    /* flex: 0.2; */
    position: relative;
    background-color: white !important;
    filter: drop-shadow(4px 8px 2px #4444dd52);
    border-radius: 40px;
    margin: 20px;
    /* padding: 10px; */
    width: 40vw;
    height: 15vw;
    align-items: start;

}

.PTMImg {
    /* flex: 0.2; */
    position: relative;
    vertical-align: top;
    display: inline-block;
    background-color: white !important;
    /* filter: drop-shadow(4px 8px 2px #4444dd52); */
    border-radius: 40px;
    padding: 0px;
    /* width: 200px; */
    width: 100%;

}


.playButton {
    background-color: rgb(161, 29, 29);

    /* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite; */
}


.PTMPlayButton {
    /* flex: 0.2; */
    position: relative;
    vertical-align: top;
    display: inline-block;
    background-image: linear-gradient(-45deg, #fcaef083, #aec8fc8a, #ffb4c65b, #b4cbff99);
    filter: drop-shadow(4px 8px 2px #4444dd52);
    border-radius: 40px;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    /* text-decoration: wavy; */
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    color: rgba(71, 224, 255, 0.678);
    /* width: 200px; */
    /* height: 15vw; */
    /* -webkit-background-clip: text; */
    background-size: 300%;
    /* -webkit-text-fill-color: transparent; */
    animation: animated_background 2s ease-in-out infinite;
    -moz-animation: animated_background 2s ease-in-out infinite;
    -webkit-animation: animated_background 2s ease-in-out infinite;
}

@keyframes animated_background {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}

.buttonText {
    color: white;
    font-size: larger;

}

.bubbles {
    display: inline-block;
    font-family: Inter, sans-serif;
    position: relative;
    /* width: 40%; */
    
}
/* 
.bubbles h1 {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: xx-large;
    margin: 1em 0 0;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    z-index: 2;
} */

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: rgb(70, 200, 255);
    z-index: 1;
}








.main {
    flex: 1;
    width: 100%;

}

.routes {
    padding: 15px;
    background-color: rgba(228, 249, 255, 0.547);
    /* background-color: rgba(228, 249, 255, 0.547);  old light blue background */


}

.nav-container {
    position: fixed;
    left: 0;
    /* margin: 10px; */
    /* height: 100vh; */
    margin: 0px;
    background-color: #27187e;
}

.logo-container {
    background-color: #27187e;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 0 0 0 15px;
}

.logo a {
    color: #ff8600;
}

.menu-control-container {
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader {
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1300px) {
    .main {
        /* margin-left: 10px; */
    }
}

@media screen and (max-width:1170px) {
    .main {
        /* margin-left: 55px; */
    }
}

@media screen and (max-width:1000px) {
    .main {
        /* margin-left: 90px; */
    }
}

@media screen and (max-width:800px) {
    .app {
        flex-direction: column;
        overflow: hidden;
    }

    .navbar {
        flex: 1;
    }

    .main {
        flex: 1;
        /* margin-top: 90px; */
        margin-left: 0px;
        margin-right: 10px;

    }

    .nav-container {
        height: 8vh;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }

    .menu-control-container {
        display: block !important;
    }

    .ant-menu {
        position: absolute;
        right: 0px;
    }

    .home-title {
        font-size: 1.4rem !important;
    }

    .show-more {
        font-size: 1.3rem !important;
    }
}

.coin-detail-container {
    margin: 30px;
}

.coin-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name {
    font-weight: 900;
    color: var(--pink);
}

.coin-heading-container p {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--pink);
}

.coin-details-heading {
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--pink) !important;
}

.coin-stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;

}

.coin-stats-name {
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.stats {
    font-weight: 800;
}

.coin-value-statistics-heading p {
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2 {
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p {
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a {
    color: var(--pink);
}

.coin-desc-link h3 {
    font-weight: 700;
}

.coin-desc {
    flex: 0.5;
}

.coin-links {
    padding: 0px 20px;
    flex: 0.5;
}

.coin-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name {
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a {
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
    background-color: var(--bgSecondary);
}

@media screen and (max-width:1000px) {
    .stats-container {
        flex-direction: column;
    }

    .coin-desc-link {
        flex-direction: column;
    }

    .stats-container h2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px) {
    .coin-links {
        padding: 0px;
    }

    .coin-detail-container {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        margin-top: 20px;
    }
}

.select-news {
    width: 180px;
}

.news-card {
    min-height: 300px !important;
}

.news-image-container {
    display: flex !important;
    justify-content: space-between !important;
}

.news-title {
    width: 70%;
}

.news-image-container .img {
    width: 100px;
    height: 100px;
}

.news-card p {
    color: black;
    margin: 10px 0px !important;
}

.provider-container {
    display: flex;
    justify-content: space-between;
}

.provider-name {
    margin-left: 10px;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}

.chart-title {
    color: #758bfd !important;
}

.price-container {
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.price-change {
    font-weight: 900 !important;
}

.current-price {
    margin-top: 0px !important;
    font-weight: 900 !important;
}

.home-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.show-more {
    margin-top: 0px !important;
}

.exchange-image {
    margin: 0px 10px !important;
}

.search-crypto {
    margin: 20px auto 30px auto;
    width: 250px;
}

.crypto-card-container {
    min-height: 65vh !important;
}

.crypto-card {
    min-width: 250px;
}

.crypto-card .crypto-image {
    width: 35px;
}

.select-timeperiod {
    width: 200px !important;
    margin-top: 20px !important;
}

.footer {
    background-color: #febbf75d;
    border-radius: 40px;
    margin: 10px;
    /* filter: drop-shadow(4px 8px 2px #4444dd52); */

    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}